@media only screen and (max-width: 600px) {
   				
   				td
				{
					width:20px !important;
					height:20px !important;
					padding:0px;
				}
				.fa
				{
					font-size:20px !important;
				}
		}
		body
		{
			background: rgb(230,52,98);
		}
		.fa
		{
			opacity: 0;
			font-size:42px;
			color:white;
		}
		#star1,#star3,#star4,#star5,#star2
		{
			opacity:1 !important;
			color: yellow;

		} 

		.iconbox
		{
			border-radius: 50%;
			border:1px solid black;
			padding:20px;
			transition:transform 0.5s;
			cursor:pointer; // icon box specifications
		}
		.iconbox:active
		{
			transform: rotateX(180deg);
		}
		.labelClass
		{
			background: #b1040e;
			padding:20px;
			font-size:24px;
			color:white;
		}
		.row
		{
			margin: 20px 0px 20px 0px;

		}
		td
		{
			width:100px ;
			height:100px;
			padding:5px;
		}